* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 {
    padding: 15px;
}

.nav1 .helpcenter-logo {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

.belownav{
    background-color: rgb(238, 232, 232);
    padding: 16px 16px 16px 40px;
    color: #000000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.belownav p{
    line-height: 1.5;
}
.belownav i {
    padding-right: 20px;
    font-size: 20px;
}

.belownav div:first-child {
    display: flex;
    align-items: center; /* Center the items vertically */
}

.nav2 {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.nav2 .btn1 {
    padding: 7px 20px;
    margin-right: 20px;
    font-size: 15px;
    color: white;
    background-color: black;
    border: 1px solid #FFFFFFB3;
    border-radius: 6px;
}

.nav2 .btn2 {
    padding: 7px 20px;
    font-size: 15px;
    color: white;
    background-color: rgb(235, 3, 3);
    border: 1px solid rgb(235, 3, 3);
    border-radius: 6px;
}

.header2 {
    padding: 30px 30px 10px 30px;
    /*padding: top right bottom left; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backtohome a,
svg {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* print button style */
.print-button {
    padding: 10px 20px;
    background-color: rgb(192, 191, 191);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* height: 50px;
    width: 100px; */
    font-weight: bold;
    font-size: 20px;
}

/* Hide the button when printing */
@media print {
    .print-button {
        display: none;
    }
}


/* footer */
.global-page-footer {
    padding: 0 0 48px;
    background:#FAFAFA;
}

.global-page-footer .select {
    margin: 32px 0 20px 0;
}

.select.select-grey {
    border-color: #8b8a88;
    color: #8B8A88;
}

.select {
    padding: 18px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 7px;
    box-sizing: border-box;
    display: inline-block;
}

.footer-links a {
    padding: 20px;
    color: #000000B3;
    font-size: 20px;
    list-style: none;
}


.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.search-intro-wrapper {
    text-align: center;
}

.search-form-container {
    margin-top: 20px;
}

.input-group {
    display: flex;
}

.form-control {
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.search-control {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.personalization-module {
    margin-top: 20px;
}

.recommendations-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.recommendations-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recommendation {
    margin: 0 10px;
    text-align: center;
}

.help-link {
    color: #000;
    display: inline-block;
    max-width: 200px; /* Adjust max-width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
