* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav1 {
    padding: 15px;
}

.nav1 .helpcenter-logo {
    text-decoration: none;
    color: #f5f5f1;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

.nav2 {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.nav2 .btn1 {
    padding: 7px 20px;
    margin-right: 20px;
    font-size: 15px;
    color: white;
    background-color: black;
    border: 1px solid #FFFFFFB3;
    border-radius: 6px;
}

.nav2 .btn2 {
    padding: 7px 20px;
    font-size: 15px;
    color: white;
    background-color: rgb(235, 3, 3);
    border: 1px solid rgb(235, 3, 3);
    border-radius: 6px;
}

.header2 {
    padding: 30px 30px 10px 30px;
    /*padding: top right bottom left; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backtohome a,
svg {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* print button style */
.print-button {
    padding: 10px 20px;
    background-color: rgb(192, 191, 191);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* height: 50px;
    width: 100px; */
    font-weight: bold;
    font-size: 20px;
}

/* Hide the button when printing */
@media print {
    .print-button {
        display: none;
    }
}

.container {
    padding: 20px 50px 50px 50px; /*padding: top right bottom left; */
    line-height: 1.2;
    font-size: 17px;
}
.container h1{
    padding: 0 20px 20px 10px;
}
.container p{
    display: block;
    padding-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #F5F5F1;
    margin-top: 30px;
    font-size: 16px;
}

th, td{
    padding: 12px;
    text-align: left;
    border: 1px solid #F5F5F1;
}
th{
    background-color: #f2f2f2;
    border: 1px solid #F5F5F1;
}
/* Set the width of the third column */
td:nth-child(1) {
    width: 22%; 
}

td:nth-child(2) {
    width: 40%; 
}

td:nth-child(3) {
    width: 22%; 
}

td:nth-child(4) {
    width: 26%; 
}


/* footer */
.global-page-footer {
    padding: 0 0 48px;
    background: #000;
    background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000;
}

.global-page-footer .select {
    margin: 32px 0 20px 0;
}

.select.select-grey {
    border-color: #8b8a88;
    color: #8b8a88;
}

.select {
    padding: 18px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 7px;
    box-sizing: border-box;
    display: inline-block;
}

.footer-links a {
    padding: 20px;
    color: #FFFFFFB3;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}