*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #fde9e0;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Ensure full viewport height */
} 

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-image: url(background.jpg);
    background-size: cover;
    /* background-position: center; */
}
.todo-app{
    width: 500px;
    min-width: 540px;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    background-color: #f7cbcb;
    border-radius: 10%;
    box-shadow: 0 0 30px #afafaf;
}
.todo-app h2{
    color: rebeccapurple;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;    /* to get to do list text in center */
    font-size: 30px;
}
.todo-app h2 img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:antiquewhite ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row:hover{
    outline :2px solid orangered ;
}

.row input{
    flex:1;  /*takes full width*/
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-weight: 15px;
    font-size: 25px;
}
.row button{
    right: 0;
    border: none;
    outline: none;
    padding: 10px 40px;
    background: #ff5945;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
}

/* #list-container{

} */

ul li{
    list-style: none;
    font-size: 25px;
    padding: 12px 8px 12px 50px;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li:hover{
    outline: 1px solid blue;
    border-radius: 20px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius:50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
    background-color: rgb(250, 250, 185);
    border-radius: 20px;
}
ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right:0;
    top : 5px;
    width :40px;
    height: 40px;
    font-size: 30px;
    color: #272626;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #b9d0fc ;
}